*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  :root {
    --Very-Light-Grayish-Blue: hsl(240, 72%, 72%);
    --Light-Grayish-Blue: hsl(312, 34%, 32%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  }
  body {
    min-height: 100vh;
    background: blanchedalmond;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    position: relative;
  }
 
  header{
    width: 100%;
    margin: 0 1rem;
  }
  header h1{
    color:black;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  header .toggle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .toggle-container span{
    color: rgba(0, 0, 0, 0.524);
  }
  .toggle-container .toggle{
    width: 3rem;
    height: 1.5rem;
    background: linear-gradient(145deg, hsla(238, 95%, 44%, 0.975),hsl(295, 30%, 39%));
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
  }
  .toggle .slider{
    position: absolute;
    content: '';
    top: .15rem;
    right: .15rem;
    width: 1.2rem;
    height: 1.2rem;
    background: white;
    border-radius: 250%;
  }
  .active .slider{
    left: .15rem;
    margin-right: auto;
  }
  main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
    margin-top: 1rem;
  }
  main .card{
    max-width: 320px;
    width: 100%;
    color:var(--Very-Light-Grayish-Blue);
    background: white;
    padding: 1.5rem;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);
    border-radius: .5rem;
    margin: 0 auto;
  }
  .card.middle{
    color: white;
    background: linear-gradient(145deg, hsl(120, 46%, 53%),hsl(237, 63%, 64%));
    padding: 2.5rem 1.5rem;
  }
  .card h2{
    font-size: 3.5rem;
    margin: 2rem 0;
  }
  .annual{
    display: none;
  }
  .active .annual{
    display: inline;
  }
  .card p{
    margin: 1rem 0;
  }
  hr{
    height: .5px;
    background-color: var(--Light-Grayish-Blue);
    border: 0;
  }
  .card a{
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
    background: linear-gradient(145deg, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .8rem 0;
    margin-top: 1rem;
    border-radius: .3rem;
  }
  .card a:hover{
    background: linear-gradient(145deg, hsla(236, 72%, 79%,.8),hsla(237, 63%, 64%,.8));
  }
  .card a:active{
    transform: translateY(1px);
  }
  .card.middle a{
    color: hsl(237, 63%, 64%);
    background: white;
  }
  .card.middle a:hover{
    background: rgba(255, 255, 255, 0.8);
  }
  footer{
    font-size: .8rem;
  }
  footer a{
    color: hsl(237, 63%, 64%);
  }
  footer a:hover{
    text-decoration: none;
  }
  @media(min-width: 1023px){
    body{
      padding: 2rem 0;
      overflow-y: hidden;
    }
    
    main{
      flex-direction: row;
      justify-content: center;
      gap: 0;
    }
    main .card{
      margin: 0;
    }
  }